@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* :root {
  color-scheme: light dark;
} */

body {
  /* background: light-dark(#ffffff, #0a0a0a);
  color: light-dark(#171717, #ededed); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

button {
  cursor: pointer;
}
